<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fuwuwaibao.mapper.UserMapper">

    <insert id="insertUserInfo">
        insert into tb_user_info (
            openid,
            session_key,
            unionid
        ) values (
                     #{openid},
                     #{session_key},
                     #{unionid}
                 )
    </insert>
    <select id="selectUserByOpenId" resultType="com.example.fuwuwaibao.pojo.User">
        select openid from tb_user_info where openid = #{openid}
    </select>

    <insert id="insertTestDemo">
        insert into test(
            test_num
        )values(
            #{test_num}
        )
    </insert>

    <select id="selectAlltest" resultType="com.example.fuwuwaibao.pojo.User">
        SELECT * FROM test
    </select>

    <insert id="insertOpenIdAndSessionKey">
        INSERT INTO user(openid,Session_key)
        VALUES(
               #{openid},
               #{session_key}
              )
    </insert>
</mapper>